image {
	background: transparent url('../images/checker.png') repeat fixed 0 0;
}
::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

.navbar .nav {
  position: relative;
  right: 0;
  display: block;
  float: right;
  margin: 0 -20px 0 0;
}

@media (max-device-width: 480px) {
	.navbar .nav {
		float:left;
		margin: 0 0 0 -10px;
	}
}

.hero-unit {
	background-color: transparent;
	padding: 5px;
  	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	position:relative;
	width:100%;
	height:300px;
}

#experiment {
	width:100%;
	height:300px;
	display:block;
	position:absolute;
	top:0;
	left:0;
	border:10px solid #000;
}
#hiddenmessage {
	position:relative;
	top:150px;
	left:0;
	width:100%;
	text-align:center;
	font-size:50px;
	font-weight:bold;
}
.pixel {
	display:inline-block;
	float:left;
	width:10px;
	height:10px;
	background: #ccc;
}

.navbar h3 a:hover, .navbar .brand:hover {
	text-decoration:none;
	color:#f7ff4d;
}

.nav li a.bloglink:hover {
	color:#f7ff4d;
}
.nav li a.projectslink:hover {
	color:#d4145a;
}
.nav li a.labslink:hover {
	color:#33cc66;
}
.nav li a.contactlink:hover {
	color:#0099ff;
}

.navbar div > ul .menu-dropdown li a:hover,
.nav .menu-dropdown li a:hover,
.navbar div > ul .dropdown-menu li a:hover,
.nav .dropdown-menu li a:hover {
	color:#d4145a;
}
.border10 {
	border:10px solid #000;
}
.mb20 {
	margin-bottom:20px;
}

.navbar .brand {
	background: transparent url('../images/logo.png') no-repeat scroll 20px 6px;
	padding-left:50px;
	text-transform:lowercase;
}
footer {
	padding:0px 20px 0 20px;
}
.mainfooter {
	margin-top:15px;
}
.mainfooter, .mainsubfooter {
	padding-top:10px;
	border-top:1px solid #eee;
}
.mainsubfooter {
	margin-bottom:-9px;
}
.mainsubfooter a {
	opacity:0.5;
	margin:5px;
}

.noshow {
	width:0px;
	height:0px;
	line-height:0px;
	font-size:0px;
}

article header h2 a, article header h2 a:hover, article header h2 a:visited, article header h2 a:active {
	color:#333;
}

article header h6 {
	font-size:10px;
	text-transform:none;
	line-height:20px;
}
article header hr {
	/* margin-top:5px; */
}
article footer {

}
#qrcode {
	/* margin-top:9px; */
}

#earthquake {
	display:none;
	z-index:9999;
	font-size:11em;
	text-transform:uppercase;
	color:#f00;
	font-weight:bold;
	margin:0 auto;
	text-align:center;
}
#earthquakereset {
	cursor:pointer;
}
#earthquakereset:hover {
	text-decoration:underline;
}

.barrel_roll {
	-webkit-transition: -webkit-transform 4s ease;
	-webkit-transform: rotate(360deg);
	-moz-transition: -moz-transform 4s ease;
	-moz-transform: rotate(360deg);
	-o-transition: -o-transform 4s ease;
	-o-transform: rotate(360deg);
	transition: transform 4s ease;
	transform: rotate(360deg);
}
.lc {
	text-transform:lowercase;
}
.uc {
	text-transform:uppercase;
}
.capitalize {
	text-transform:capitalize;
}

#map_canvas {
	position:relative;
	top:-20px;
	left:-20px;
	display:block;
}

.container-fluid > .sidebar {
  float: right;
  /* width: 400px; */
	margin-left:20px;
}

.sidebar {
	width:400px;
}

.sidebar div, .sidebar div a {
	height:130px;
}

.ml20 {
	margin-left:20px;
}

.projectimage {
	border:10px solid #000;
	height:300px;
	background-repeat:no-repeat;
	background-size:auto auto;
	background-position:center center;
	background-color:#000;
}

/* ==|== non-semantic helper classes ========================================
   ========================================================================== */

/* For image replacement */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: h5bp.com/q */ 
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }



/* ==|== media queries ======================================================
   PLACEHOLDER Media Queries for Responsive Design.
   These override the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 480px) {
  /* Style adjustments for viewports 480px and over go here */

}

@media only screen and (min-width: 768px) {
  /* Style adjustments for viewports 768px and over go here */

}



/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
 
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}