<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{% if page.title %} {{ page.title }} | {% endif %} {{ site.title }}</title>
	<meta name="author" content="{{ site.author }}">
	<meta name="description" content="{{ site.description }}">
	<meta name="keywords" content="{{ site.keywords }}">

	<!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- Le styles -->
	<link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic' rel='stylesheet' type='text/css'>
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/master.css" rel="stylesheet">
	
	<script src="js/jquery-1.6.4.min.js"></script>
	<script src="js/bootstrap-dropdown.js"></script>

	<script src="js/qrcode.js"></script>
	<script src="js/html5-qrcode.js"></script>
	<script src="js/jrumble.1.1.mod.js"></script>
	<script src="js/script.js"></script>

	<!-- Le fav and touch icons -->
	<link rel="shortcut icon" href="images/favicon.ico">
	<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
</head>
<body>
	
	{% include header %}

	<section class="container-fluid">
		
		
		
		<section class="sidebar">
			<h2><em>featured</em></h2>
			<hr>
			<div class="border10 mb20"><img src="http://gottaplace.it/380x130"/></div>
			<div class="border10 mb20"><img src="http://gottaplace.it/380x130"/></div>
			<div class="border10 mb20"><img src="http://gottaplace.it/380x130"/></div>
			<div class="border10 mb20"><img src="http://gottaplace.it/380x130"/></div>
		</section>
		<section class="content">
			<h2><em>from the blog</em></h2>
			<hr>

			<article data-link="http://davefearon.com/blog/heading">
				<header>
					<span class="pull-right qrcode"></span>
					<h2>Heading</h2>
					<h6>Posted on <time datetime="2011-09-27" pubdate>September 27, 2011</time></h6>
					<hr>
				</header>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque pharetra porttitor hendrerit. Duis volutpat felis ut tortor sagittis vitae suscipit nisl luctus. Duis elementum aliquet ante, a pulvinar diam tempus eu. Quisque tellus turpis, scelerisque volutpat sollicitudin eu, porta eu orci. Integer ac dapibus lectus. Pellentesque in magna turpis. Integer condimentum mattis erat, sit amet hendrerit purus vestibulum a. Curabitur consequat tincidunt ultricies. In eu orci vel dui placerat rhoncus ut non sem. Nulla dignissim vestibulum vehicula. Suspendisse potenti.</p>
				<p>Suspendisse ut orci erat. Phasellus tempus viverra metus quis mollis. Aenean condimentum molestie interdum. Nam eu dui turpis. Duis imperdiet leo ac odio vestibulum ut sagittis nibh aliquet. Quisque lobortis, est nec interdum interdum, dui leo dapibus leo, dapibus imperdiet justo felis eu erat. Quisque vel libero quis orci egestas fringilla. Mauris auctor tellus quis augue pharetra mollis. Vivamus auctor convallis cursus. Donec ut vestibulum erat. Cras consectetur ante ac quam tincidunt interdum.</p>
				<h3>Sub-heading h3</h3>
				<p>Suspendisse sit amet eros vitae dui euismod tempus eget ut quam. Nam vel sagittis libero. Fusce viverra vehicula iaculis. Vivamus non odio elit. Suspendisse arcu dui, placerat id semper dignissim, euismod vel est. Nulla facilisi. Aenean tortor mauris, venenatis id ullamcorper vel, suscipit in leo. Nunc vestibulum facilisis molestie. Ut urna quam, placerat non tincidunt et, fringilla quis augue. Curabitur aliquam adipiscing leo in tincidunt. Ut a neque id quam fringilla feugiat.</p>
				<h4>Sub-heading h4</h4>
				<p>Donec neque nulla, volutpat sed imperdiet sed, interdum quis tortor. Aenean sit amet ipsum lacus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus id orci risus, et tristique diam. Maecenas porttitor, nunc ac egestas bibendum, sem magna pretium ante, at fermentum arcu nibh id nisi. Morbi tempor nulla sed justo hendrerit ac venenatis augue malesuada. Suspendisse quis elit enim. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Duis vel iaculis tortor. Nam tempus pretium tincidunt. Duis adipiscing erat nunc. Nulla felis orci, interdum commodo dignissim vel, bibendum et mauris. Morbi at ante eget mi condimentum ullamcorper vel eu sem. Duis congue nulla non purus tristique quis volutpat arcu pulvinar.</p>
				<h5>Sub-heading h5</h5>
				<p>Nulla facilisi. Sed euismod lorem sit amet leo scelerisque vel vehicula orci congue. Suspendisse nec nisi massa. Integer non quam et tortor iaculis eleifend. Phasellus aliquet dignissim imperdiet. Vivamus metus tortor, dictum in ultricies eget, bibendum ac augue. Nam consequat, orci ut tempus viverra, mauris libero fermentum mi, fermentum viverra tortor velit non ipsum. Quisque porta consectetur ornare. Sed ac tincidunt diam. Ut porta malesuada nisi, a sodales turpis sollicitudin nec. Integer vitae justo sed felis mollis tincidunt in vitae justo. Donec ullamcorper consequat libero a cursus.</p>
				<h6>Sub-heading h6</h6>
				<p>Nulla facilisi. Sed euismod lorem sit amet leo scelerisque vel vehicula orci congue. Suspendisse nec nisi massa. Integer non quam et tortor iaculis eleifend. Phasellus aliquet dignissim imperdiet. Vivamus metus tortor, dictum in ultricies eget, bibendum ac augue. Nam consequat, orci ut tempus viverra, mauris libero fermentum mi, fermentum viverra tortor velit non ipsum. Quisque porta consectetur ornare. Sed ac tincidunt diam. Ut porta malesuada nisi, a sodales turpis sollicitudin nec. Integer vitae justo sed felis mollis tincidunt in vitae justo. Donec ullamcorper consequat libero a cursus.</p>
				<ul>
					<li>Bullet 1</li>
					<li>Bullet 2</li>
					<li>Bullet 3</li>
					<li>Bullet 4</li>
					<li>Bullet 5</li>
				</ul>
				<ol>
					<li>Bullet 1</li>
					<li>Bullet 2</li>
					<li>Bullet 3</li>
					<li>Bullet 4</li>
					<li>Bullet 5</li>
				</ol>

				<footer>
					<p class="tags">Tags: <a href="#">PHP</a>, <a href="#">Java</a> <span class="readmore pull-right"><a href="single.html">Read More</a></span></p>
				</footer>
			<!-- echo $summary = substr($summary, 0, strrpos(substr($summary, 0, $limit), ' ')) . '...'; -->
			</article>

			<hr>

			<article data-link="http://davefearon.com/blog/heading-2">
				<header>
					<span class="pull-right qrcode"></span>
					<h2>Heading 2</h2>
					<h6>Posted on <time datetime="2011-09-26" pubdate>September 26, 2011</time></h6>
					<hr>
				</header>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque pharetra porttitor hendrerit. Duis volutpat felis ut tortor sagittis vitae suscipit nisl luctus. Duis elementum aliquet ante, a pulvinar diam tempus eu. Quisque tellus turpis, scelerisque volutpat sollicitudin eu, porta eu orci. Integer ac dapibus lectus. Pellentesque in magna turpis. Integer condimentum mattis erat, sit amet hendrerit purus vestibulum a. Curabitur consequat tincidunt ultricies. In eu orci vel dui placerat rhoncus ut non sem. Nulla dignissim vestibulum vehicula. Suspendisse potenti.</p>
				<p>Suspendisse ut orci erat. Phasellus tempus viverra metus quis mollis. Aenean condimentum molestie interdum. Nam eu dui turpis. Duis imperdiet leo ac odio vestibulum ut sagittis nibh aliquet. Quisque lobortis, est nec interdum interdum, dui leo dapibus leo, dapibus imperdiet justo felis eu erat. Quisque vel libero quis orci egestas fringilla. Mauris auctor tellus quis augue pharetra mollis. Vivamus auctor convallis cursus. Donec ut vestibulum erat. Cras consectetur ante ac quam tincidunt interdum.</p>
				<p>Suspendisse sit amet eros vitae dui euismod tempus eget ut quam. Nam vel sagittis libero. Fusce viverra vehicula iaculis. Vivamus non odio elit. Suspendisse arcu dui, placerat id semper dignissim, euismod vel est. Nulla facilisi. Aenean tortor mauris, venenatis id ullamcorper vel, suscipit in leo. Nunc vestibulum facilisis molestie. Ut urna quam, placerat non tincidunt et, fringilla quis augue. Curabitur aliquam adipiscing leo in tincidunt. Ut a neque id quam fringilla feugiat.</p>
				<p>Donec neque nulla, volutpat sed imperdiet sed, interdum quis tortor. Aenean sit amet ipsum lacus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus id orci risus, et tristique diam. Maecenas porttitor, nunc ac egestas bibendum, sem magna pretium ante, at fermentum arcu nibh id nisi. Morbi tempor nulla sed justo hendrerit ac venenatis augue malesuada. Suspendisse quis elit enim. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Duis vel iaculis tortor. Nam tempus pretium tincidunt. Duis adipiscing erat nunc. Nulla felis orci, interdum commodo dignissim vel, bibendum et mauris. Morbi at ante eget mi condimentum ullamcorper vel eu sem. Duis congue nulla non purus tristique quis volutpat arcu pulvinar.</p>
				<p>Nulla facilisi. Sed euismod lorem sit amet leo scelerisque vel vehicula orci congue. Suspendisse nec nisi massa. Integer non quam et tortor iaculis eleifend. Phasellus aliquet dignissim imperdiet. Vivamus metus tortor, dictum in ultricies eget, bibendum ac augue. Nam consequat, orci ut tempus viverra, mauris libero fermentum mi, fermentum viverra tortor velit non ipsum. Quisque porta consectetur ornare. Sed ac tincidunt diam. Ut porta malesuada nisi, a sodales turpis sollicitudin nec. Integer vitae justo sed felis mollis tincidunt in vitae justo. Donec ullamcorper consequat libero a cursus.</p>
				<footer>
					<p class="tags">Tags: <a href="#">JavaScript</a>, <a href="#">jQuery</a> <span class="readmore pull-right"><a href="single.html">Read More</a></span></p>
				</footer>
			</article>

			<hr>

			<section class="pagination">
				<ul>
					<li class="prev disabled"><a href="#">&larr; Previous</a></li>
					<li class="active"><a href="#">1</a></li>
					<li><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li><a href="#">4</a></li>
					<li><a href="#">5</a></li>
					<li class="next"><a href="#">Next &rarr;</a></li>
				</ul>
			</section>
			
			<hr>
			
			{{ content }}
			
			<!--
			<footer>
				<p>Imagine. Design. Create. &copy; Dave Fearon 2011</p>
			</footer>
			-->
		</section>
	</section>
	
	{% include footer %}
	
</body>
</html>