---
layout: post
---

<article data-link="{{ site.url }}/projects/{{ page.url }}">
	<header>
		{% if page.image %}
		  <div class="projectimage" style="background-image:url({{site.url}}{{ page.image.url }});">
		    <!--<img src="{{ page.image.url }}" title="{{ page.image.title }}" alt="{{ page.image.alt }}" />-->
		  </div>
		{% endif %}
		<hr>
		<span class="pull-right qrcode-no"></span>
		<h2>{{ page.title }}</h2>
		<h6>Posted on <time datetime="{{ page.datetime }}" pubdate>{{ page.date }}</h6>
		<hr>
	</header>
	
	{{ page.description }}
	
	{% if page.website %}
	    <div class="website"><a href="{{ page.website }}">{{ page.website }}</a></div>
	  {% endif %}
	<hr>
	<footer>
		<p class="tags">
			Tags:
				{% for tag in page.tags %}
					<a href="{{ site.url }}/tag/{{ tag }}" class="capitalize">{{ tag }}</a>{% if forloop.last != true %}, {% endif %}
				{% endfor %}
		</p>
	</footer>
</article>