---
layout: default
title: Projects
---

{% include hero %}

{% include sidebar %}

<section class="content">
	
	<h2 class="lc"><em>projects</em></h2>
	<hr>

	{% for project in page.projects %}
		<article data-link="{{ site.url }}/projects/{{ project[0] }}">
			<header>
				<span class="pull-right qrcode-no"></span>
				<h2><a href="{{ site.url }}/projects/{{ project[0] }}">{{ project[1].title }}</a></h2>
				<h6>Posted on <time datetime="{{ project[1].datetime }}" pubdate>{{ project[1].date }}</h6>
			</header>
			<p>{{ project[1].short }}</p>
			<hr>
			<footer>
				<p class="tags">
					Tags:
						{% for tag in project[1].tags %}
							<a href="/tag/{{ tag }}" class="capitalize">{{ tag }}</a>{% if forloop.last != true %}, {% endif %}
						{% endfor %}
						<span class="readmore pull-right"><a href="{{ site.url }}/projects/{{ project[0] }}">Read More</a></span>
				</p>
			</footer>
		</article>
		<hr>
	{% endfor %}

</section>