---
layout: default
---

{% include sidebar %}

<section class="content">

	<h2><em>blog posts and projects tagged "{{ page.tag }}"</em></h2>
	<hr>
	
	<section>
		{% for post in site.posts %}
	  		{% for tag in post.tags %}
	  			{% if tag == page.tag %}
					<article data-link="{{ post.url }}">
						<header>
							<span class="pull-right qrcode-no"></span>
							<h2>{{ post.title }}</h2>
							<h6>Posted on <time datetime="{{ post.date }}" pubdate>{{ post.date | date_to_string }}</time></h6>
							<hr>
						</header>
	
						{{ post.preview }}
	
						<hr>
	
						<footer>
							<p class="tags">
								Tags: 
								{% for tag in post.tags %}
									<a href="{{ site.url }}/tag/{{tag}}" class="capitalize">{{ tag }}</a>{% if forloop.last != true %}, {% endif %}
								{% endfor %}
								<span class="readmore pull-right"><a href="{{ post.url }}">Read More</a></span>
							</p>
						</footer>
					<!-- echo $summary = substr($summary, 0, strrpos(substr($summary, 0, $limit), ' ')) . '...'; -->
					</article>
	
					<hr>
				{% endif %}
			{% endfor %}
		{% endfor %}
	</section>
	
	<section>
	{% for project in page.projects %}
		{% for tag in project[1].tags %}
			{% if tag == page.tag %}
				<article data-link="{{ site.url }}/projects/{{ project[0] }}">
					<header>
						<span class="pull-right qrcode-no"></span>
						<h2><a href="{{ site.url }}/projects/{{ project[0] }}">{{ project[1].title }}</a></h2>
						<h6>Posted on <time datetime="{{ project[1].datetime }}" pubdate>{{ project[1].date }}</h6>
					</header>
					<p>{{ project[1].short }}</p>
					<hr>
					<footer>
						<p class="tags">
							Tags:
								{% for tag in project[1].tags %}
									<a href="{{ site.url }}/tag/{{ tag }}" class="capitalize">{{ tag }}</a>{% if forloop.last != true %}, {% endif %}
								{% endfor %}
								<span class="readmore pull-right"><a href="{{ site.url }}/projects/{{ project[0] }}">Read More</a></span>
						</p>
					</footer>
				</article>
				<hr>
			{% endif %}
		{% endfor %}
	{% endfor %}
	</section>

</section>